version: '3'

services:
 test:
    image: postgres:latest
    container_name: test
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test
    ports:
      - "6432:5432"

volumes:
  data:
  node_modules:
